body {background-color: #6477ac;}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

ul {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    background-color: #4c5196;
}

li {
    float: left;
    border-right: 2px solid #6477ac;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 15px 17px;
    text-decoration: none;
}

li a:hover {
    background-color: #3a397c;
}

#greeting-container {
    color: blue;
    font-size: 30px;
    font-weight: bold;
}